body{
  background-color: #EDEDED;
}

#ajuda{
  padding: 0 3px 0 3px;
  color:#56329a;
  cursor: pointer;
}

#ajuda:hover{
  color:#7b52c7;
  cursor:pointer;
}

path , .close{
  cursor:pointer;
}

#carregando{
    display:none;
    text-align:center;
}